html {
  --deepBlue: #323242;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-table {
  width: 90%;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
  background-color: white;
}
.cart-table-tbody {
  display: block;
  max-height: 20rem;
  overflow-y: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cart-table > thead,
.cart-table > tbody > tr {
  display: table;
  width: 100%;
}
.cart-table td {
  padding: 0.5rem;
  width: 10rem;
}
.cart-table th {
  padding: 1rem;
  background-color: var(--deepBlue);
  color: white;
}
.cart-table th:nth-child(2) {
  width: 8rem;
}
.cart-img {
  width: 4rem;
  height: 4rem;
}

.cartBtnGroup button,
.purchase-modal button {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 4px;
  font-weight: 600;
  background-color: white;
  border: none;
}
.cartBtnGroup button:hover {
  background-color: var(--deepBlue);
  color: white;
}
.purchase-modal button:hover {
  background-color: orange;
  color: var(--deepBlue);
}
.purchase-modal button {
  margin-top: 2rem;
}
/* 구매하기 모달 */
.purchase-modal {
  width: 60%;
  height: fit-content;

  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 8rem;
  transform: translateX(-50%);
  padding: 2rem;

  color: white;
  align-items: center;
  border-radius: 16px;
  background-color: var(--deepBlue);
}

.purchase-modal img {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  padding: 1rem;
  padding-top: 0;
}

.purchase-itemslot {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.4rem;
}
.purchase-itemslot p {
  width: 4rem;
  padding: 0.2rem;
}
